doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container.mx-auto.flex.flex-row.justify-between.items-center.ring-1.h-screen.text-sm
      div(class="w-1/12")
        | 222
      div(class="w-11/12")
            block content
